.page-not-found-component {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-not-found-component .wrapper {
    width: 100%;
    text-align: center;
}

.page-not-found-component .wrapper .icon {
    font-size: 36px;
    margin-bottom: 10px;
    color: #383838;
}

.page-not-found-component .wrapper h1 {
    color: #383838;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}