@font-face {
    font-family: 'Poppins-Medium';
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./fonts/Poppins-Thin.ttf');
}

.app-component {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 0;
}

.app-component.app-component-true {
    height: 100vh;
}

.app-component .components-wrapper {
    width: 375px;
    overflow: hidden;
}

@media (max-width: 576px) {
    .app-component .components-wrapper {
        width: 100%;
        overflow: hidden;
    }   
}

button {
    cursor: pointer;
}

button:active {
    opacity: .7;
}