.all-managers-component {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.all-managers-component > .top {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
}

.all-managers-component > .top .icon {
    font-size: 28px;
    margin-top: 5px;
    color: #212121;
    cursor: pointer;
}

.all-managers-component > .top > div:last-child .icon {
    font-size: 36px;
    color: #4D77FF;
    margin: 0;
}

.all-managers-component > .top > div {
    display: flex;
    align-items: center;
}

.all-managers-component > .top h2 {
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-left: 20px;
    color: #000000;
}

.all-managers-component .btn-wrap {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.all-managers-component .btn-wrap button {
    width: 252px;
    height: 48px;
    background: rgba(102, 145, 224, 0.15);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #6691E0;
    letter-spacing: 1px;
}

.all-managers-component .wrapper {
    width: 100%;
    margin-top: 20px;
}

.all-managers-component .wrapper .one {
    width: 100%;
    height: 88px;
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f3f3f3;
    transition: 0.3s;
}

.all-managers-component .wrapper .one:first-child {
    border-top: 1px solid #f3f3f3;
}

.all-managers-component .wrapper .one .bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url('../../img/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.all-managers-component .wrapper .one h1 {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #383838;
    transition: 0.3s;
}

.all-managers-component .wrapper .one p {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C3C6CE;
    transition: 0.3s;
}

.all-managers-component .wrapper .one .icon {
    position: absolute;
    right: 6px;
    top: 16px;
    color: #212121;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.all-managers-component .wrapper .one span {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C3C6CE;
    transition: 0.3s;
}

.all-managers-component .wrapper .one:hover {
    background-color: #64B4FF;
}

.all-managers-component .wrapper .one:hover h1 {
    color: #ffffff;
}

.all-managers-component .wrapper .one:hover p {
    color: #ffffff;
}

.all-managers-component .wrapper .one:hover span {
    color: #ffffff;
}

.all-managers-component .wrapper .one:hover .icon {
    color: #ffffff;
}

.ant-modal-content {
    border-radius: 16px !important; 
    overflow: hidden;
}

.add-modal {
    width: 345px !important;
}

.add-modal .ant-modal-header {
    padding: 16px;
    text-align: center;
}

.add-modal .ant-modal-close-x {
    display: none;
}

.add-modal .ant-modal-body {
    padding: 16px;
}

.add-modal form {
    width: 100%;
}

.add-modal form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.add-modal form label {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.add-modal form input {
    height: 48px;
    background: #FAFAFA;
    border: 0.5px solid #C8C8C8;
    border-radius: 6px;
    outline: none;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-left: 10px;
}

.add-modal form select {
    width: 100%;
    height: 48px;
    background: #FAFAFA;
    border: 0.5px solid #C8C8C8;
    border-radius: 6px;
    outline: none;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 0 10px;
}

.add-modal form .xodimlar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.add-modal form .xodimlar > div {
    width: 150px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #D6D7E3;
    cursor: pointer;
    transition: 0.3s;
}

.add-modal form .xodimlar > div:hover {
    background-color: #64B4FF;
    color: #ffffff;
}

.add-modal form .ant-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-modal form .ant-radio-group .ant-radio-button-wrapper {
    width: 48%;
    height: 48px;
    border-radius: 6px;
    overflow: hidden;
    border: 0.5px solid #C8C8C8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-modal form button {
    margin-top: 10px;
    width: 100%;
    height: 48px;
    background: #77A7FF;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
}