.navbar-component {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-component > .top {    
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
    background-color: #fff;
}

.navbar-component > .top .icon {
    font-size: 28px;
    cursor: pointer;
}

.navbar-component > .top .bg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-component .navbar-menu-right {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: #d9d9d950;
    display: none;
}

.navbar-component .navbar-menu-right.navbar-menu-right-active {
    display: block;
}

.navbar-component .navbar-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 11;
    transform: translateX(-300px);
    transition: 0.3s;
}

.navbar-component .navbar-menu.navbar-menu-active {
    transform: translateX(0px)
}

.navbar-component .navbar-menu .menu-top {
    width: 300px;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: #77a7ff;
    padding: 16px;
}

.navbar-component .navbar-menu .menu-top .bg {
    width: 50px;
    height: 50px;
    background-image: url('../../img/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-component .navbar-menu .menu-top .wrap {
    margin-left: 16px;
}

.navbar-component .navbar-menu .menu-top .wrap h2 {
    font-family: 'Poppins-Regular';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.navbar-component .navbar-menu .menu-top .wrap p {
    font-family: 'Poppins-Thin';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.navbar-component .navbar-menu .links-wrapper {
    width: 100%;
    height: calc(100% - 130px);
    padding: 16px;
    position: relative;
}

.navbar-component .navbar-menu .links-wrapper .logout {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
}

.navbar-component .navbar-menu .links-wrapper .logout .icon {
    font-size: 24px;
    cursor: pointer;
}

.navbar-component .navbar-menu .menus {
    margin-top: 20px;
}

.navbar-component .navbar-menu .menus .qator {
    display: flex;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-component .navbar-menu .menus .qator .icon {
    color: #383838;
    font-size: 16px;
}

.navbar-component .navbar-menu .menus .qator h3 {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #383838;
    margin-left: 20px;
}

.navbar-component .navbar-menu .menus .qator.last {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
}