.agent-home-component {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding-bottom: 16px;
}

.agent-home-component .top {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.agent-home-component .top .h2-wrap {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}

.agent-home-component .top .h2-wrap.h2-wrap-act {
    border-bottom: 2px solid #64B5FF;
}

.agent-home-component .top .h2-wrap h2 {
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
}

.agent-home-component form {
    margin: 16px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    margin-bottom: 0;
}

.agent-home-component form .inp-lab {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.agent-home-component form label {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.agent-home-component form input {
    height: 48px;
    padding-left: 10px;
    background: #FAFAFA;
    border: 0.5px solid #C8C8C8;
    border-radius: 6px;
    outline: none;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.agent-home-component form button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
}

.agent-home-component form .add-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #62DE85;
}

.agent-home-component form .order-btn {
    margin-top: 10px;
    background: #64B5FF;
}

.agent-home-component .clients-wrap .btn-wrap {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.agent-home-component .clients-wrap button {
    width: 272px;
    height: 48px;
    outline: none;
    background: rgba(100, 181, 255, 0.15);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #64B5FF;
}

.agent-home-component .clients-wrap .all-clients {
    width: 100%;
    margin-top: 30px;
}

.agent-home-component .clients-wrap .all-clients .one {
    width: 100%;
    height: 88px;
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f3f3f3;
    transition: 0.3s;
}

.agent-home-component .clients-wrap .all-clients .one:first-child {
    border-top: 1px solid #f3f3f3;
}

.agent-home-component .clients-wrap .all-clients .one .bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url('../../img/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.agent-home-component .clients-wrap .all-clients .one h1 {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #383838;
    transition: 0.3s;
}

.agent-home-component .clients-wrap .all-clients .one p {
    margin: 0;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C3C6CE;
    transition: 0.3s;
}

.agent-home-component .clients-wrap .all-clients .one .icon {
    position: absolute;
    right: 6px;
    top: 16px;
    color: #212121;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.agent-home-component .clients-wrap .all-clients .one span {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C3C6CE;
    transition: 0.3s;
}

.agent-home-component .clients-wrap .all-clients .one:hover {
    background-color: #64B4FF;
}

.agent-home-component .clients-wrap .all-clients .one:hover h1 {
    color: #ffffff;
}

.agent-home-component .clients-wrap .all-clients .one:hover p {
    color: #ffffff;
}

.agent-home-component .clients-wrap .all-clients .one:hover span {
    color: #ffffff;
}

.agent-home-component .clients-wrap .all-clients .one:hover .icon {
    color: #ffffff;
}